* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(118, 213, 226, 0.5), rgba(201, 109, 226, 0.5));
}

.btn{
    border-radius: 10px;
    padding: 20px 40px;
    background-color: pink;
    font-family: sans-serif;
    color: black;
    font-weight: 700;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
}

.btn::before{
    content: "";
    position: absolute;
    background: linear-gradient(rgb(133, 218, 237), rgb(247, 140, 222));
    opacity: .7;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}

.btn span{
    position: relative;
    z-index: 100;
}